.hero {
    background-color: #121212;
}

.hero-me {
	/* margin-top: 240px;*/
}

.hero-row{
	padding-top: 230px;
}

.hero-me img {
	width: 35%;
}

.hero-me h1 {
	font-family: 'Major Mono Display', monospace;
	font-size: 24px;
	color: white;
}

.hero-me h2 {
	font-size: 24px;
}

.hero-me p {
	word-spacing: 1px;
	color: white;
}

.hero-page {
	margin-top: 100px;
}

.hero-page .page {
	width: 90%;
	transition: .3s;
	cursor: pointer;
}

.hero-page .page:hover {
	transform: translateX(-0.828%) translateY(0.421%);
}

.hero-page .pen {
	position: absolute;
	left: 15%;
	top: 40%;
	width: 45%;
	transform: rotate(-45deg);
	margin-top: 25%;
	margin-left: 25%;
	cursor: pointer;
	transition-duration: 0.3s;
}

.hero-page .pen:hover {
	transform: rotate(-30deg);
}

.rubic {
	position: absolute;
	margin: auto;
	z-index: 1;
}

.hero .rubic-purp {
	max-width: 150px;
	top: 25vh;
	left: 50%;
}

.hero .rubic-white {
	max-width: 100px;
	top: 75vh;
	right: 22%;
}


.hero-details p {
    font-family: 'Major Mono Display', monospace;
    color: white;
    font-size: 4.9vw;
    margin-bottom: -3vw;
    padding: 0% 5%;
    letter-spacing: 2px;
}

.hero-details p span {
    color: #969595;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.hero-me {
        margin-top: 150px;
    }

	.hero-me h1 {
		font-size: 18px;
	}

	.hero-me img {
		width: 40%;
		margin: 0 0 7px 0;
	}

	.hero-me h2 {
		font-size: 14px;
		padding-left: 8%;
		margin-bottom: 10px;
	}

	.hero-me p {
		word-spacing: 0;
		padding: 20px 20px 0 20px;
		text-indent: 23px;
		font-size: 15px;
	}

	.hero-page {
        display: none;
    }

	.hero-page .pen {
		top: 35%;
	}

	.hero .rubic-purp {
		max-width: 130px;
		margin-top: 320px;
		left: 58%;
	}

	.hero .rubic-white {
		display: none;
	}

	.hero-row {
		padding-top: 0;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.hero-me {
        margin-top: 140px;
    }

	.hero-me img {
		width: 34%;
		margin: 20px;
		margin-bottom: 5px;
	}

	.hero .rubic-purp {
		max-width: 150px;
		top: 50%;
		left: 57%;
	}

	.hero-page {
		display: none;
	}

	.hero .rubic-white {
		display: none;
	}

	.hero-row {
		padding-top: 0;
	}
}

/* Medium devices(sm) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .hero-me {
		margin-top: 40px;
	}

	.hero-me img {
		width: 45%;
	}

	.hero-me h1 {
		font-size: 16px;
	}

	.hero-me p {
		text-indent: 0;
		font-size: 12px;
	}

	.styled_button {
		font-size: 14px;
		padding: 6px 13px;
	}

	.hero-page {
		display: none;
	}

	.hero-page .pen {
		top: 43%;
	}

	.hero .rubic-purp {
        max-width: 130px;
        top: 40vh;
    }

	.hero .rubic-white {
		max-width: 100px;
		right: 10%;
	}

	.hero-row {
		padding-top: 150px;
	}

	.hero-details p {
		font-size: 5.9vw;
		margin-bottom: -4vw;
	}
}

/* Large devices(md) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .hero-page {
		margin-top: 150px;
	}

    .hero .rubic-white {
        right: 8%;
    }

	.hero .rubic-white {
		max-width: 90px;
		top: 80vh;
		right: 10%;
	}

	.hero .rubic-purp {
		max-width: 140px;
		top: 30vh;
	}

	.hero-row {
		padding-top: 150px;
	}

	.hero-details p {
		font-size: 5.9vw;
		margin-bottom: -4vw;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1441.98px){
    .hero-page .page {
        width: 75%;
    }

	.hero-row {
		padding-top: 150px;
	}
}
  
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1442px) {
    
}

  
/*
*
*
*
*
*
*
*
/****** Extra extra small devices (s6 mobiles, 320px and below) *******/
@media (max-width: 320px) {
	
}

/****** Extra extra small devices (s6 mobiles, 375px and below) *******/
@media (min-width: 321px) and (max-width: 376px) {
	
}