body {
  font-family: 'Rubik', sans-serif;
  color: #2D2E2F !important;
}

.App {
 
}

a:hover{
  text-decoration: none;
}

.hero, .what-can, .projects, .gigs, .testimonials {
  height: 100vh;
}

.styled_button {
	background-color: #673de6;
	color: white;
	text-decoration: none;
	padding: 8px 15px;
	cursor: pointer;
	box-shadow: 8px 8px 0px 1px #e68966;
	transition: .3s;
}

.styled_button:focus {
	outline: none !important;
}

.styled_button:hover {
	background-color: #e68966;
	color: black;
	box-shadow: 8px 8px 0px 1px #673de6;
	text-decoration: none;
}