body {
  font-family: 'Rubik', sans-serif;
  color: #969595 !important;
}

.App{
    position:relative;
    top: 0;
    left: 0;
    right: 0;
}

.fade-enter{
  	opacity: 0;
}

.fade-exit{
  	opacity: 1;
}
.fade-enter-active{
  	opacity: 1;
}
.fade-exit-active{
  	opacity: 0;
}
.fade-enter-active,
.fade-exit-active{
  	transition: opacity 400ms;
}

a:hover{
  	text-decoration: none;
}

.hero, .what-can, .projects, .gigs, .testimonials, .contact, .notFound {
  	height: 100vh;
}

.styled_button {
	background-color: #673de6;
	color: white;
	text-decoration: none;
	padding: 8px 15px;
	cursor: pointer;
	box-shadow: 8px 8px 0px 1px #e68966;
	transition: .3s;
}

.styled_button:focus {
	outline: none !important;
}

.styled_button:hover {
	background-color: #e68966;
	color: black;
	box-shadow: 8px 8px 0px 1px #673de6;
	text-decoration: none;
}

.github {
	position: fixed;
	left: 40px;
	bottom: 20px;
	color: #e68966;
	z-index: 4;
}

.github:hover {
	color: #e68966;
}